.sponsor-video {
  background-color: grey;
  height: 200px;
  margin-bottom: 2em;
}

.sponsor-logos {
  background-color: grey;
  height: 60px;
}

article .main address {
  margin-bottom: 1em;
  background-color: #d0ffd0;
  display: inline-block;
  padding: 0.5em;
}

article .main address p {
  margin-bottom: 0.1em;
}

img {
  width: 500px;
  height: 150px;
}

body>header>h1>a>span>img {
  width: 35.99px;
  height: 35.99px;
}

footer>ul>li>a>img {
  width: 44.79px;
  height: 37.22px;
}